<ul>
    <li><a href="/science/bonds.html"><%= toolt 'Covaelent bonds and friends', 'Bonds' %></a></li>
    <li><a href="/science/radiation.html"><%= toolt 'Radiation', 'Radiation' %></a></li>
    <li><a href="/science/bonds.html"><%= toolt 'Bonds', 'Bonds' %></a></li>
    <li><a href="/science/ions.html"><%= toolt 'Ions', 'Ions' %></a></li>
    <li><a href="/science/fissionandfusion.html"><%= toolt 'Fission and fusion', 'Fission and fusion' %></a></li>
</ul>
